
/*................................Body....................*/
body{
	background-color: #041226;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
 }

a:hover{
	   color: #acb199;
	transition: 0.4s;
}


						/*..................Some common Classes ..................*/


.white{
	color: white;
}

.font-sans{
	font-family:sans-serif;
	
 }

 .font-grey{
 	color: #a19b94;
 }

 .d-inline-block{
 	display: inline-block;
 }

 .heading{
 	font-size: 1.8rem;
 	font-family: sans-serif;
 	color: white;


 }

 						/*........................... Navigation Bar......................... */


#navigation-bar{
	position: fixed;
	z-index: 10;
	background-color:#041226;
	width:100%;
	height:80px;
	box-shadow: 0 0 30px #072857;

}
/*Music player Logo*/

#music-logo{
   position: absolute;
   left:3%;
   top:-12%;
}

#music-logo img{
	height: 90%;
	width:120px;
	/*margin:20px;*/
}

#go-to-home-page{
	height: auto;
	width: auto;
	padding:5px;
	background-color: #14264a;
	border-radius: 45%;
	transition: 0.5s all;
	opacity: 0;
	
}

#go-to-home-page p{
	text-align: center;
	font-size: 1.3rem;
}

#music-logo:hover > #go-to-home-page{
	opacity: 1;
}

.search-bar{
	position: absolute;
	right:20%;
	top:30%;
}

.search-bar input{
	font-size: 1.1rem;
	background-color: #0f223d;
	border-radius: 0.3rem;
	border:none;
	padding: 8px;
	width:370px;
	padding-left: 32px;

}

.search-bar i{
	position: absolute;
}

.bell-icon{
	position: absolute;
	right:10%;
	top:35%;
}

.bell-icon i::after{
	content:  '';
	position: absolute;
	border-radius: 50%;
	height: 0.5rem;
    width:0.5rem;
    background-color: red;
    margin-left:-8px;
    margin-top:5px;


}

#myphoto{
	cursor: pointer;
	height:50px; width: 50px; margin-left: 30px;
	position: absolute;
	right:2%;
	top:20%;
}

.microphone{
	cursor: pointer;

}


						/*..........................MAIN CONTENT...........................*/



/*Main container*/
#main-container{
	width:55%;
	height:auto;
	/*border:1px solid red;*/
	margin:2%;
	margin-top: 130px;
}





/*aside Container*/
#aside-container{
	position: absolute;
	top: 0;
	width:35%;
	height:auto;
	/*border:1px solid red;*/
	margin:2%;
	margin-top: 130px;

}


#aside-container-1{
	width:100%;
	height:500px;
	/*border:1px solid white;*/
	overflow-y: scroll;
	margin-bottom: 70px;
	/*background-color: #0c1145;*/
}

#aside-container-1::-webkit-scrollbar { 
                display: none; 
            } 

#aside-container-2{
	width:100%;
	height:800px;
	/*border:1px solid white;*/
	overflow-y: scroll;
	/*background-color: #0c1145;*/
}

#aside-container-2::-webkit-scrollbar { 
                display: none; 
            } 



            		/*.......................Featured Artists Div......................*/

#artists-div{
	width:100%;
	height:350px;
	/*border:1px solid white;*/
	position: relative;
	background-color: #0c1145;
	background-image: linear-gradient(#041226,#0c1145);
	margin-bottom: 30px;
}

#artists-div-img{
	height: 100%;
	width: 40%;

}

#artists-div-img img{
	width: 100%;
	height: 100%;
}

#artists-div-description-div{
	width:53%;
	height: 100%;
	/*border:1px solid white;*/
	position: absolute;
	margin-left:5%;

}

#btn{
	width:130px;
	height: 45px;
    background-image: linear-gradient(to right, blue , purple);
    border:none;
    color:white;
    font-family: sans-serif;
    /*letter-spacing: 0.09rem;*/
    font-size: 1.1rem;
    cursor: pointer;
}

#btn:hover{
	box-shadow: 0 0 15px grey;
}
						


						/*...........................Playlists Div.......................*/
.playlists-div{
	width: 100%;
	height:80px;
	/*border:1px solid white;*/
	margin-bottom: 13px;
	background-color: #2c2c4a;
	position: relative;
}
.playlists-div:hover{
	box-shadow: 0 0 10px grey;
}
.serial-number{
	/*border:1px solid white;*/
	height:auto;
	width:auto;
	/*margin:0;*/
	/*padding: 0;*/
    position:absolute;
    top:40%; 
    left:1%;

}


.serial-number p{
	text-align: center;
	color:#b9c4c2;
	font-size: 0.8rem;
	/*border:1px solid white;*/
}
.playlists-div-img{
	margin-top:1.5%;
	margin-left: 5%;
	height: 55px;
	width: 55px;

}

.playlists-div-img img{
	height: 100%;
	width: 100%;
	border-radius: 0.4rem;
	box-shadow: 0 0 10px grey;
	opacity: 0.8;
}

.image-description-div{
	height: auto;
    padding: 0;
	margin-left:1%;
	margin-top:2%; 
	position: absolute;
	top:0%;
	/*border:1px solid white;*/
	/*height:100%;*/

}

.image-description-div p{
	padding: 0;
	margin:2px;
}

.fa-heart{
	color:#909099;
	position: absolute;
	top:35%;
	right:10%;
}

.fa-plus{
	color:#909099;
	position: absolute;
	top:35%;
	right:5%;
}

								/*..................Aside Container.................*/

.aside-container-1-div{
	width:100%;
	height: 100px;
	/*border: 1px solid white;*/
	position: relative;
	margin-bottom: 10px;

}



.aside-container-1-div-img{
	height: 100%;
	width:22%;

}

.aside-container-1-div-img img{
	height:100%;
	width: 100%;
	border-radius: 0.5rem;
}
.aside-container-1-div-img img:hover{
	opacity: 0.6;
	box-shadow: 0 0 5px white;
}

.fa-heart:hover{
	transform: scale3d(2,2,2);
	transition: 0.3s all;
	color:white;
}
.image-description-1{
	height: 100%;
	width: auto;
	position: absolute;
	top:20%;
	left:25%;
}

.aside-container-2-div
{
	width: 100%;
	height: 70px;
	position: relative;
	margin-bottom: 25px;
	/*border: 1px solid white;*/


}

.aside-container-2-div-img{
	height: 100%;
	width: 15%;
	margin-left: 30px;
}

.aside-container-2-div-img img{
	height: 100%;
	width:100%;
	border-radius: 0.5rem;
}


.aside-container-2-div-img img:hover{
	opacity: 0.6;
	box-shadow: 0 0 5px white;
}

.image-description-2{
	height: 100%;
	width: auto;
	position: absolute;
	top:20%;
	left:23%;
}

.image-description-2 p{
	padding: 0;
	margin: 0;
}


								/*.................Bottom Music Player Bar.................*/




#player-bar{
	width: 100%;
	height: 73px;
	background-color: #1e204f;
	margin: 0;
	padding: 0;
	position: relative;
	

}


#player-bar-img-div{
	position: absolute;
	height:85%;
	width:5%;
	top:8%;
	left:12%;

}

#player-bar-img-div img{
	height: 100%;
	width: 100%;
	border-radius: 0.5rem;
}


#player-bar-center-div{
	height: 100%;
	width: 40%;
	/*border:1px solid white;*/
	margin: auto;
	position: relative;

}

.fa-play-circle{
	font-size: 1.8rem;
	color: #c0c2c0;
	position: absolute;
	left:47%;
	top:15%;


}

.fa-random{
	font-size: 1rem;
	color: #c0c2c0;
	position: absolute;
	left:33%;
	top:22%;
}

.fa-step-backward{
	font-size: 1rem;
	color: #c0c2c0;
	position: absolute;
	left:40%;
	top:22%;
}

.fa-step-forward{
	font-size: 1rem;
	color: #c0c2c0;
	position: absolute;
	left:56%;
	top:22%;
}

i{
	cursor: pointer;
}

#track-progress{
	border: 1px solid #6e736e;
	background-color: #6e736e;
	width: 90%;
	position: absolute;
	top: 70%;
	left:5%;
}

#track-progress-inside-div{
	width: 40%;
	border:2px solid #eb990c;
	

}
.fa-circle{
	color: white;
	font-size: 0.75rem;
	position: absolute;
	top:-95%;
	left:40%;
}

#audio-controls{
	z-index: 5;
	height:9px;
	width:8px;
	position: absolute;
	left:48.5%;
	top:27%;
}

						/*................................End................................*/